<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          <br>
          <br>
          <div>
            <% if current_user %>
              <%= form_for([@product, @review_new]) do |form| %>
                <div class="field">
                  <div> Please add a comment and rate this product </div>
                  <%= form.text_area :description, id: :product_reviews  %>
                  <%= form.select :rating, 1..5, id: :product_reviews %>
                </div>
                <div class="actions">
                  <%= form.submit %>
                </div>
              <% end %>
            <% end %>
          </div>
          <br>
          <br>
          <br>
          <br>
  
          
          <table class="table">
            <caption><h4>Reviews</h4></caption>
            <thead>            
              <th>Rating</th>
              <th>Content</th>
              <th>User</th>
            </thead>
            <tbody>
              <% @product.reviews.reverse_each do |item| %>
                <tr>
                  <td><%= item.rating %></td>
                  <td><%= item.description %></td>
                  <td><%= item.user_id %></td>
                </tr>
              <% end %>  
            </tbody>  
          </table>
          
        </dl>
      </div>
    </div>

  </article>

</section>
